@model CRMBASEDEDATOS.Models.Promocione

@{
    ViewData["Title"] = "Eliminar Promoción";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-warning" role="alert">
    <h3>¿Estás seguro de que deseas eliminar esto?</h3>
    <p class="mb-0">Esta acción no se puede deshacer.</p>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <h4>Promocione</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Tratamiento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTratamientoNavigation.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                Descripción
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estatus)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdPromocion" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </form>
    </div>
</div>

