@model CRMBASEDEDATOS.Models.Promocione

@{
    ViewData["Title"] = "Detalles de la Promoción";
}

<h1>@ViewData["Title"]</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h4>Promocione</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                Tratamiento
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdTratamientoNavigation.Nombre)
            </dd>
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-3 fw-bold">
                Descripción
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estatus)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPromocion" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

