@model CRMBASEDEDATOS.Models.InscripcionCurso

@{
    ViewData["Title"] = "Detalles de Inscripción de Curso";
}

<h1>@ViewData["Title"]</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <h4>Detalles de la Inscripción de Curso</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                Cliente
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdClienteNavigation.Nombre)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Curso
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IdCursoNavigation.Nombre)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Fecha de Inicio
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaInicio)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Fecha de Fin
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaFin)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Duración (días)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Duracion)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Precio Total
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PrecioTotal)
            </dd>

            <dt class="col-sm-3 fw-bold">
                Estatus
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estatus)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInscripcion" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>

