@model IEnumerable<CRMBASEDEDATOS.Models.InscripcionCurso>

@{
    ViewData["Title"] = "Inscripciones de Cursos";
}

<h1 class="mb-5">@ViewData["Title"]</h1>

<div class="d-flex align-items-center justify-content-between mb-5">
    <form asp-controller="InscripcionCursoes" asp-action="Index" method="get" class="d-flex align-items-center gap-2">
        <label for="campo" class="me-2">Buscar por:</label>

        <select name="campo" id="campo" class="form-select me-2" style="width: auto;">
            <option>Ver Todo</option>
            <option value="IdClienteNavigation.Nombre">Cliente</option>
            <option value="IdCursoNavigation.Nombre">Curso</option>
            <option value="FechaInicio">Fecha de Inicio</option>
            <option value="Estatus">Estatus</option>
        </select>

        <input type="text" name="buscar" class="form-control me-2" placeholder="Ingrese término de búsqueda" style="width: auto;" />

        <input type="submit" value="Buscar" class="btn btn-dark" />
    </form>

    <a asp-action="Create" class="btn btn-primary">Agregar Inscripción</a>
</div>



<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Curso</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Duración</th>
            <th scope="col">Precio Total</th>
            <th scope="col">Estatus</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCursoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdInscripcion" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdInscripcion" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdInscripcion" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-buscar="@ViewData["BuscarTermino"]">@i</a>
            </li>
        }
    </ul>
</nav>
