@model IEnumerable<CRMBASEDEDATOS.Models.Tratamiento>

@{
    ViewData["Title"] = "Tratamientos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                Descripción
            </th>
            <th scope="col">
                Duración Estimada
            </th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DuracionEstimada)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.IdTratamiento" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdTratamiento" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdTratamiento" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
